@*@model NewShore*@
@using NEWSHORE_AIR.DataAccess
@model Journeyy
@{
  ViewData["Title"] = "Home Page";
}
@section scripts {
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="~/js/site.js" type="text/javascript"></script>
}
<div class="text-center">
  <h1 class="display-4">NEWSHORE</h1>
  <p></p>
  @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "Journeys" }))
  {
    <div class="row mt-2">
      <div class="col-12 col-xl-6 col-lg-6">
        <div class="form-group">
          @Html.Label("Origen*:")
          @Html.DropDownListFor(x => x.Origin, (IEnumerable<SelectListItem>)ViewBag.origenes, htmlAttributes: new { @class = "form-control", @id = "Origen" }))
        </div>
      </div>
      <div class="col-12 col-xl-6 col-lg-6">
        <div class="form-group">
          @Html.Label("Destino*:")
          @Html.DropDownListFor(x => x.Destination, (IEnumerable<SelectListItem>)ViewBag.destinos, htmlAttributes: new { @class = "form-control", @id = "Destino" }))
        </div>
      </div>
      <div class="col-12 col-xl-6 col-lg-6">
        <div class="form-group">
          @Html.Label("Precio Total Viaje*:")
          @Html.DisplayFor(x => x.Price, new { @class = "form-control", @style = "margin-bottom:0px", id = "Price" })
        </div>
      </div>
      <div class="col-12 col-xl-6 col-lg-6">
        <div class="form-group">

          @if (Model.Flights is not null)
          {
            @foreach (var item in Model.Flights)
            {
              <div>
                @Html.Label("Origen:  ")
                @Html.DisplayFor(modelitem => item.Origin, new { @class = "form-control", @style = "margin-bottom:0px", id = "flightNumber" })
              </div>
              <div>
                @Html.Label("Destino:  ")
                @Html.DisplayFor(modelitem => item.Destination, new { @class = "form-control", @style = "margin-bottom:0px", id = "flightNumber" })
              </div>
              <div>
                @Html.Label("Aerolinea:  ")
                @Html.DisplayFor(modelitem => item.Transport.flightCarrier, new { @class = "form-control", @style = "margin-bottom:0px", id = "flightNumber" })
              </div>
              <div>
                @Html.Label("Numero Vuelo*:")
                @Html.DisplayFor(modelitem => item.Transport.flightNumber, new { @class = "form-control", @style = "margin-bottom:0px", id = "flightNumber" })
              </div>
              <div>
                @Html.Label("Precio*:")
                @Html.DisplayFor(modelitem => item.Price, new { @class = "form-control", @style = "margin-bottom:0px", id = "flightNumber" })
              </div>
            }
          }
        </div>
      </div>
      <div class="col-12 mt-2">
        <div class="button-group form-footer">
          <div class="start">
            @*@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-primary" })*@
            @Html.ActionLink("Calcular Ruta", "Index", "Home", new { origin = "MDE", destination = "MAD" }, new { onclick = string.Format("CalcularRuta(event, '" + "MDE" + "','" + "MAD" + "'); event.preventDefault();"), @class = "btn btn-primary", id="CalcularRuta" })
            @*, new { onclick = string.Format("CalcularRuta(event, '" + Model.Origin + "','" + Model.Destination + "'); event.preventDefault();"), @class = "btn btn-primary", id = "CalcularRuta" })*@
          </div>
          @*<div class="end">
              <button class="btn btn-primary" id="btnSubmit" type="submit">
                Calcular Ruta
              </button>
            </div>*@
        </div>
      </div>
      @*<div>
            @Html.ActionLink("Regresar", "Index", "Mod", null, new { @class = "btn btn-link" })
        </div>*@
    </div>
  }
</div>
